@font-face {
    font-family: 'Norse';
    src: url('fonts/Norse-Bold.woff2') format('woff2'),
        url('fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.work-sans-worksans{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
  }


.roboto-flex-robotoflex {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
}

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    min-height: 100vh;
    background-image: url('images/manila.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.right-side{
    width: 65vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(240, 240, 240);
}

.right-side p{
    font-family: "Work Sans", sans-serif;
    font-size: 1.5rem;
    margin-right: 15vw;
    margin-left: 3vw;
    margin-bottom: 3vw;
}

form{
    padding-top: 3.5vh;
    background-color: white;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px; /*Puts spaces in between the form fields*/
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

form label{
    font-family: "Roboto Flex";
    font-size: 0.5rem;
    letter-spacing: 2px;
    display: block;
    margin-left: 3vw;;
    margin-bottom: 5px;
}

form div{
    flex: 1 1 calc(50% - 15px); 
    margin-top: 10px;
}

input{
    width: 300px;
    height: 30px;
    padding: 0;
    margin-left: 3vw;
    box-sizing: border-box;
    border-color: #E5E7EB;
    border-radius: 0.2rem;
}

input:focus{
    border-color: rgb(144, 142, 245);
    outline: none;
}

input:focus:invalid{
    border-color: red;
    outline: none;
}

input:invalid {
    border-color: #E5E7EB; /* Default border color */
}

.left-side{
    max-height: 18vh;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: 'Norse';
    color: white;
    font-size: 100px;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;

}

.logo{
    max-width: 20%;
    height: auto;
}

button{
    font-size: 1.2rem;
    padding: 15px 60px;
    border-style:hidden;
    border-radius: 0.5rem;
    background-color: #596D48;
    color: white;
    margin-left: 3vw;;
    margin-bottom: 2vw;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

button:active {
    transform: scale(0.95); /* Shrinks the button when clicked */
    background-color: #4b5a39; /* Changes the background color on click */
}

button:hover {
    background-color: #4b5a39; /* Slightly darker color when hovered */
}

.right-side>div{
    font-family: "Work Sans", sans-serif;
    font-size: 1.5rem;
    margin-right: 15vw;
    margin-top: 3vw;
}